/* CSS Document */
.blackbox {
  border: 1px solid #EBEBEB;
  padding: 0px;
}

body {
  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
  /*Verdana, Arial, Helvetica, sans-serif;*/
  font-size: 13px;
  background-color: #64686B;
  /*blue - #0a2f5b*/
}

.lowerstyle {
  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
  font-size: 12px;
  color: #FFFFFF;
}

.lowerstyle a {
  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

.lowerstyle a:hover {
  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: underline;
}

.gentxt {
  FONT-SIZE: 12px;
  TEXT-TRANSFORM: none;
  COLOR: #333333;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  TEXT-DECORATION: none
}

.newtext {
  font-family: Helvetica, Helvetica, Helvetica;
  font-size: 13px;
  color: #000000;
}

.redtext {
  font-family: Helvetica, Helvetica, Helvetica;
  font-size: 13px;
  color: #FF0000;
}

input.text {
  width: 200px;
  border: 1px groove #6c7d8e;
  padding: 1px 1px 1px 3px;
}

.paratext {
  FONT-FAMILY: Helvetica, Helvetica, Helvetica;
  color: #242424;
  FONT-SIZE: 12px;
  LINE-HEIGHT: 16px;
}

.Partext1 {
  FONT-SIZE: 13px;
  LINE-HEIGHT: 17px;
  FONT-FAMILY: Helvetica, Helvetica, Helvetica;
}