	.headtext13 {
	  font-family: Helvetica, Helvetica, Helvetica;
	  /*verdana, tohama, arial;*/
	  font-size: 12px;
	  font-weight: bold;
	  color: #4358A4;
	}

	.lowerstyle {
	  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
	  /*Verdana, Arial, Helvetica, sans-serif;*/
	  font-size: 12px;
	}

	.link {
	  text-decoration: none;
	  font-family: Helvetica, Helvetica, Helvetica, Helvetica;
	  font-size: 12px;
	  font-weight: 150;
	  color: #000000;
	}

	.heading {
	  font: Verdana;
	  font-size: 13px;
	  color: #FFFFFF;
	}